# Feature Table Exploration

In [1]:
import os

import snowflake.connector
import yaml

In [2]:
model_name = "user_profile"

In [3]:
with open("../pb_project.yaml", "r") as f:
    connection_name = yaml.load(f, Loader=yaml.FullLoader).get("connection")

with open(f"{os.path.expanduser('~')}/.pb/siteconfig.yaml") as f:
    creds = yaml.load(f, Loader=yaml.FullLoader)["connections"][connection_name]["outputs"]["dev"]

ctx = snowflake.connector.connect(
    user=creds["user"],
    password=creds["password"],
    account=creds["account"],
    warehouse=creds["warehouse"],
    database=creds["dbname"],
    schema=creds["schema"]
)
cur = ctx.cursor()
sql = f"SELECT * FROM {creds['dbname']}.{creds['schema']}.{model_name}"
cur.execute(sql)
feature_table = cur.fetch_pandas_all()

In [4]:
feature_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   USER_MAIN_ID   147 non-null    object
 1   VALID_AT       147 non-null    datetime64[ns]
 2   USER_LIFESPAN  147 non-null    int8
 3   DAYS_ACTIVE    147 non-null    int8
dtypes: datetime64[ns](1), int8(2), object(1)
memory usage: 2.7+ KB

In [5]:
feature_table.head()

,USER_MAIN_ID,VALID_AT,USER_LIFESPAN,DAYS_ACTIVE
0,rid9e6998173ae3f2a421c43d5cb9246638,2024-03-14 01:26:38.806388,0,1
1,ridda78f13cc059857d4a7b3926ee23864b,2024-03-14 01:26:38.806388,0,1
2,rid5c32c5a1355e43b4760318dfa7fa840a,2024-03-14 01:26:38.806388,0,1
3,rid0b747f0f37377e61c59f7b24801e336b,2024-03-14 01:26:38.806388,0,1
4,rid3df8bda9dddd86a68bbf53cd978030ee,2024-03-14 01:26:38.806388,0,1

In [6]:
feature_table.describe()

                            VALID_AT  USER_LIFESPAN  DAYS_ACTIVE
count                            147          147.0        147.0
mean   2024-03-14 01:26:38.806388224            0.0          1.0
min       2024-03-14 01:26:38.806388            0.0          1.0
25%    2024-03-14 01:26:38.806387968            0.0          1.0
50%    2024-03-14 01:26:38.806387968            0.0          1.0
75%    2024-03-14 01:26:38.806387968            0.0          1.0
max       2024-03-14 01:26:38.806388            0.0          1.0
std                              NaN            0.0          0.0

In [7]:
feature_table.describe(include=object)

                               USER_MAIN_ID
count                                   147
unique                                  147
top     rid9e6998173ae3f2a421c43d5cb9246638
freq                                      1